/.bloop/
/.bsp/
**/.metals/
/.sbtserver/
/.traces/
*.class
*.jar
/target
*.cache
/.tsproject/vim/sessions
/project/.bloop
/**/target/
/**/metals.sbt
/**/.bloop/
/project/project/metals.sbt
/.idea/modules/bci_logic-build.iml
/.idea/scala_compiler.xml
/**/*.semanticdb
